@use '../../../styles/helpers'

.cases
	margin-top: 10rem
	@media (min-width: #{helpers.mediaQuery('phone')})
		margin-top: 10vh

.grid
	margin-top: 1.5rem
	display: grid
	column-gap: 3.5vw
	row-gap: 3.5rem

	@media (min-width: #{helpers.mediaQuery('phone')})
		margin-top: 10rem
		row-gap: 3.5vw

	@media (min-width: #{helpers.mediaQuery('phone')}) and (max-width: #{helpers.mediaQuery('full-hd')})
		grid-template-columns: repeat(2, 1fr)
		padding-bottom: 10vw

		> *:nth-child(2n)
			margin-top: 10vw

	@media (min-width: #{helpers.mediaQuery('full-hd')})
		grid-template-columns: repeat(3, 1fr)
		padding-bottom: 10vw

		> *:nth-child(3n+2)
			margin-top: 10vw

		> *:nth-child(3n+3)
			margin-top: 5vw
